.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    #9796f0 0.5%,
    #fbc7d4 150%
  );
  min-height: 100vh;
}

.emoji-game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.emojis-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
.emoji-rules-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.emoji-rules-button-container {
  margin-right: 9%;
}
.emoji-rules-button {
  height: 40px;
  width: 90px;
  margin-top: 5px;
  border: 2px solid #334155;
  background-color: transparent;
  border-radius: 5px;
  color: #334155;
  font-family: 'Roboto';
  font-size: 17px;
}
