.flip-game-bg-container {
  background-image: url('https://res.cloudinary.com/dlsuy2qn2/image/upload/v1711271571/2dc472b089708c4ab1d2e84f5bdc481f_1_afvbwc.jpg');
  background-size: cover;
  height: 100vh;
}
